body{
    background-color: rgb(167, 180, 236);
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    font-family: vardana, sans-serif;
    font-size: 25px;}
#canva{
    /* box-shadow: 3px 3px 10px grey; */
    box-shadow: inset 0 0 18px #fff, inset -6px 0 18px #f3bad6,
          inset 6px 0 18px #0ff, inset -6px 0 30px #f3bad6,
          inset 6px 0 30px #0ff, 0 0 18px #fff, 4px 0 18px #f3bad6,
          -4px 0 18px #0ff;
          display: block;}
h1{
    text-shadow: 0 0 35px #85FF64,
    0 0 40px #97f3df,
    0 0 55px #68f0fa;
    color: rgb(255, 47, 161);
    margin-left: -29vw;
    display: block;}
#text{
    color:#85FF64;}
#text, button{
    font-weight: bold;}
button{
    background-color: transparent;
    border-color:#ff9dcc ;
    border-radius: 20%;
    padding: 1.5vw;
    border-width: 0.2vw;}
button:hover{
    background-color: #fce1ee;
    cursor: pointer;}